:root{
    --lm-bg: #F6F8FF;
    --lm-bg-content: #FEFEFE;
    --lm-text: #46679b;
    --lm-text-alt: #2B3442;
    --lm-shadow-active: 0px 4px 4px 0px rgba(0,0,0,0.25);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0,0,0,0.2);
    --lm-icon-bg: brightness(100%);

    /* BTN */
    --btn: #0079FF;
    --btn-hover: #60ABFF;
}
/* all elements */
*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;       
}
body{
    background-color: var(--lm-bg);
    font-size: 13px;
    color: var(--lm-text)
}
.container{
    max-width: 327px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    padding-top: 10px;
}
#btn-mode{
    display: flex;
    /* Distribute items evenly
    The first item is flush with the start,
    the last is flush with the end */
    justify-content: space-between; 
    align-items: center;
    width: 90px;
    height: 38px;
    letter-spacing: 2.5px;
    color: var(--lm-text);
    font-weight: bold;
}
#btn-mode:hover{
    cursor: pointer;
}
.searchbar-container{
    background-color: var(--lm-bg-content);
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: var(--lm-shadow-inactive);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-image: url(assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
}
.searchbar-container label {
    flex: 1;
}
#input{
    border: none;
    width: 100%;
    outline:none;
    background: none;
    color: var(--lm-text);
    height: 100%;
    padding-left: 50px;
}
#input::placeholder{
    color: var(--lm-text);
    letter-spacing: -0.5px;
    font-size: 13px;
}
.searchbar-container img{
    height: 20px;
    width: 20px;
    padding: 0 10px 0px 16px;
}
.btn-search{
    min-width: 84px;
    height: 75%;
    margin-right: 7px;
    background-color: var(--btn);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}
.btn-search:hover{
    cursor: pointer;
    background-color: var(--btn-hover)
}
.btn-search:active{
    /* increase button size upon clicking */
    transform: scale(0.975); 
}
.profile-container{
    background-color: var(--lm-bg-content);
    border-radius: 15px;
    margin-top: 26px;
    box-shadow: var(--lm-shadow-inactive)
}